a[href] {
  /* Only select links with href, no properties here */
}

a[href]:visited {
  font-style: italic;
}

a[href]:hover {
  text-decoration: underline;
}

a[href]:active {
  background-color: var(--color-light-grey);
}
