/* Custom properties for font sizes */
:root {
  --font-size-small: 1.2rem;
  --font-size-medium: 1.6rem;
  --font-size-large: 1.8rem;
  --font-size-x-large: 2.3rem;
  --font-size-xx-large: 4.8rem;

  --font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-family-title: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Set base font size to 62.5% (10px) */
html {
  font-size: 62.5%;
}

/* Apply the medium font size to the body */
body {
  color:var(--text-color);
  font-size: var(--font-size-medium);
  font-family:var(--font-family-base);
}
